<!--tienda/templates/tienda/tienda.html-->

<!-- Se toma la plantilla base para la pagina general-->
{% extends "ProyectoWebApp/base.html" %}

<!-- Se carga el css, img, vendor que da formato-->
{% load static %}

<!--Construccion del bloque de contenido-->
{% block content %}

<div class="container">
    <div style="float:right;">
        
        {% include "carro/widget.html" %} <!-- se incluye la plantilla widget para darle estilo a los productos-->
    </div>
    <div class="row">

{% for producto in productos %}

        <div class="col-md-3">

            <div class="card" style="width: 100%; margin:5px 5px;">

                <img src="{{ producto.imagen.url }}" class="card-img-top">

                <div class="card-body" style="text-align: center;">

                    <h7 class="card-title">{{producto.nombre}}</h7>

                    <p class="card-text">$&nbsp;{{producto.precio}}</p>

                </div> 
                
                <div class="card-footer text-center">
                    <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar carrito</a>
                </div>

            </div> <!--card que se cierra-->
        </div>
            
{% endfor %}
    </div>
</div>

{% endblock %}